@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
  color: #c5c5c5;
  background: #1a1a1a;
  max-width: 100%;
}

nav {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  margin: 2% 20px 0;
}

nav div {
  margin-top: auto;
  margin-bottom: auto;
}

nav a {
  color: #c5c5c5;
  text-decoration: none;
  transition: 0.5s;
}

nav a:hover {
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
}

.nav-title {
  font-weight: 600;
  font-size: 35px;
}

.nav-links {
  display: none;
  width: 60%;
  font-family: "Roboto Mono", monospace;
  transition: 1s;
}

.nav-links-sm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  border: 2px solid green;
  transition: 1s;
}

.nav-toggle:hover {
  cursor: pointer;
}

.nav-toggle {
  width: 30px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
  margin-right: 10px;
  margin-left: 10px;
}

#projects h2,
#projects h3,
.main h2 {
  font-family: "Roboto Mono", monospace;
  color: #0760fe;
  font-weight: 500;
  font-size: 24px;
}

.main img {
  display: none;
  height: 40vh;
}

.main span {
  display: block;
  font-size: 30px;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#projects {
  margin-top: 20px;
}

#projects hr,
#projects h3 {
  width: 75%;
  margin: 10px auto;
}

.project-article {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: auto;
}

.project-article figure {
  width: 100%;
  /* height: 300px; */
  margin: auto;
}
.project-content {
  padding: 10px;
}
.project-article h5 {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 24px;
}

.project-links {
  display: flex;
  justify-content: space-between;
}

.project-links a {
  color: #0760fe;
  text-decoration: none;
  transition: 1s;
}

/* .figure2 {
  background: url("./../assets/zattix_store.png");
} */
.article-img {
  max-width: 100%;
  height: auto;
  max-height: 360px;
}

#contact form {
  width: 90%;
  margin: auto;
}

#contact input,
#contact label {
  display: block;
  width: 100%;
}

footer p {
  width: fit-content;
  margin: auto;
}
@media screen and (min-width: 769px) {
  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  .nav-toggle {
    display: none;
  }
}
