@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  background-color: rgba(0, 0, 0);
  margin: 0;
  padding: 0;
  /* font-family: Helvetica, "Liberation Sans", Arial, sans-serif; */
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #c5c5c5;
  background: #1a1a1a;
}

nav {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  margin: 2% 20px 0;
}

nav div {
  margin-top: auto;
  margin-bottom: auto;
}

nav a {
  color: #c5c5c5;
  text-decoration: none;
  transition: 0.5s;
}

nav a:hover {
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
}

.nav-title {
  font-weight: 600;
  font-size: 35px;
}

.nav-links {
  display: none;
  width: 60%;
  font-family: "Roboto Mono", monospace;
  transition: 0.5s;
}

.nav-links-sm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  border: 2px solid green;
  transition: 0.5s;
}

.nav-toggle:hover {
  cursor: pointer;
}

.nav-toggle {
  width: 30px;
}

@media screen and (min-width: 769px) {
  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
  .nav-toggle {
    display: none;
  }
}
